<div class="main-trust-seals-section">
  <h1>Order your Flossmo, risk free!</h1>
  <div class="main-trust-seals-container">
    <div class="main-trust-seal-box">
      <svg width="100" height="101" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.66667" y="1.77409" width="96.6667" height="96.6667" rx="48.3333" stroke="#3ECAF2" stroke-width="3.33333"/>
        <path d="M52.6794 23.0901V22.268C52.6794 20.6236 51.4752 19.2744 49.9936 19.2744C48.5004 19.2744 47.2965 20.6236 47.2965 22.268V23.0901C36.1134 24.5162 27.3271 34.6909 26.6674 47.3071C26.6443 47.8723 27.2116 48.1935 27.6053 47.8595C27.6977 47.7825 27.7789 47.7184 27.8714 47.654L43.9856 58.7281H38.1395C37.4683 58.7281 36.9242 59.3321 36.9242 60.0773V79.5923C36.9242 80.3374 37.4683 80.9411 38.1395 80.9411H61.8597C62.5312 80.9411 63.0754 80.3374 63.0754 79.5923V60.0773C63.0754 59.3322 62.5312 58.7281 61.8597 58.7281H56.2107L72.5452 47.924C72.9273 48.0782 73.3556 47.7955 73.3325 47.3073C72.6839 34.691 63.8745 24.516 52.6799 23.0902L52.6794 23.0901ZM57.31 48.3738L51.2903 58.7287H48.8359L42.9436 48.194C47.0879 44.8794 53.2233 44.8665 57.3097 48.3738L57.31 48.3738ZM28.9481 46.8707C32.8956 44.3528 37.9431 44.7638 41.5318 48.1298L47.4587 58.7285H46.2085L28.9481 46.8707ZM53.2005 68.9683C53.2005 69.2125 52.946 69.3537 52.7839 69.1995L50.2369 67.0796C50.1443 67.0026 50.0169 67.0026 49.9244 67.0796L47.2155 69.2254C47.0419 69.3665 46.8103 69.2254 46.8103 68.994L46.8105 61.2985H53.2004L53.2005 68.9683ZM53.9301 58.7287H52.6797L59.1855 47.5387C62.832 44.6225 67.7059 44.4942 71.4682 47.1277L53.9301 58.7287Z" fill="#3ECAF2"/>
      </svg>
      <div class="text-box">
        <h3>Free Shipping</h3>
        <p>Benefit from free shipping on all your orders.</p>
      </div>
    </div>
    <div class="main-trust-seal-box">
      <svg width="100" height="101" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.66667" y="1.77409" width="96.6667" height="96.6667" rx="48.3333" stroke="#3ECAF2" stroke-width="3.33333"/>
        <path d="M79.1666 32.4289V36.3575H20.8333V32.4289C20.8333 30.8661 21.4917 29.3671 22.6638 28.262C23.8359 27.1568 25.4257 26.5361 27.0833 26.5361H29.1666V24.5718C29.1666 23.87 29.5637 23.2216 30.2083 22.8706C30.8528 22.5197 31.647 22.5197 32.2916 22.8706C32.9361 23.2215 33.3333 23.8699 33.3333 24.5718V26.5361H66.6666V24.5718C66.6666 23.87 67.0637 23.2216 67.7083 22.8706C68.3528 22.5197 69.147 22.5197 69.7916 22.8706C70.4361 23.2215 70.8333 23.8699 70.8333 24.5718V26.5361H72.9166C74.5741 26.5361 76.164 27.1569 77.3361 28.262C78.5082 29.3671 79.1666 30.8661 79.1666 32.4289ZM20.8333 40.286H79.1666V71.7146C79.1666 73.2774 78.5081 74.7764 77.3361 75.8815C76.164 76.9867 74.5741 77.6074 72.9166 77.6074H27.0833C25.4257 77.6074 23.8359 76.9866 22.6638 75.8815C21.4916 74.7764 20.8333 73.2774 20.8333 71.7146V40.286ZM60.4166 50.1075C60.4166 50.6284 60.636 51.128 61.0268 51.4964C61.4174 51.8649 61.9474 52.0717 62.4999 52.0717H66.6666C67.4109 52.0717 68.0986 51.6973 68.4709 51.0896C68.843 50.4819 68.843 49.733 68.4709 49.1253C68.0987 48.5176 67.411 48.1432 66.6666 48.1432H62.4999C61.9474 48.1432 61.4175 48.35 61.0268 48.7185C60.636 49.0868 60.4166 49.5865 60.4166 50.1075ZM60.4166 57.9646C60.4166 58.4855 60.636 58.9852 61.0268 59.3535C61.4174 59.722 61.9474 59.9289 62.4999 59.9289H66.6666C67.4109 59.9289 68.0986 59.5544 68.4709 58.9467C68.843 58.339 68.843 57.5902 68.4709 56.9825C68.0987 56.3747 67.411 56.0003 66.6666 56.0003H62.4999C61.9474 56.0003 61.4175 56.2072 61.0268 56.5757C60.636 56.944 60.4166 57.4436 60.4166 57.9646ZM60.4166 65.8217C60.4166 66.3427 60.636 66.8423 61.0268 67.2107C61.4174 67.5792 61.9474 67.786 62.4999 67.786H66.6666C67.4109 67.786 68.0986 67.4116 68.4709 66.8039C68.843 66.1961 68.843 65.4473 68.4709 64.8396C68.0987 64.2319 67.411 63.8574 66.6666 63.8574H62.4999C61.9474 63.8574 61.4175 64.0643 61.0268 64.4328C60.636 64.8011 60.4166 65.3007 60.4166 65.8217ZM45.8333 50.1075C45.8333 50.6284 46.0527 51.128 46.4435 51.4964C46.8341 51.8649 47.364 52.0717 47.9166 52.0717H52.0833C52.8276 52.0717 53.5153 51.6973 53.8875 51.0896C54.2597 50.4819 54.2597 49.733 53.8875 49.1253C53.5154 48.5176 52.8276 48.1432 52.0833 48.1432H47.9166C47.3641 48.1432 46.8341 48.35 46.4435 48.7185C46.0526 49.0868 45.8333 49.5865 45.8333 50.1075ZM45.8333 57.9646C45.8333 58.4855 46.0527 58.9852 46.4435 59.3535C46.8341 59.722 47.364 59.9289 47.9166 59.9289H52.0833C52.8276 59.9289 53.5153 59.5544 53.8875 58.9467C54.2597 58.339 54.2597 57.5902 53.8875 56.9825C53.5154 56.3747 52.8276 56.0003 52.0833 56.0003H47.9166C47.3641 56.0003 46.8341 56.2072 46.4435 56.5757C46.0526 56.944 45.8333 57.4436 45.8333 57.9646ZM45.8333 65.8217C45.8333 66.3427 46.0527 66.8423 46.4435 67.2107C46.8341 67.5792 47.364 67.786 47.9166 67.786H52.0833C52.8276 67.786 53.5153 67.4116 53.8875 66.8039C54.2597 66.1961 54.2597 65.4473 53.8875 64.8396C53.5154 64.2319 52.8276 63.8574 52.0833 63.8574H47.9166C47.3641 63.8574 46.8341 64.0643 46.4435 64.4328C46.0526 64.8011 45.8333 65.3007 45.8333 65.8217ZM31.2499 50.1075C31.2499 50.6284 31.4693 51.128 31.8601 51.4964C32.2508 51.8649 32.7807 52.0717 33.3333 52.0717H37.4999C38.2443 52.0717 38.932 51.6973 39.3042 51.0896C39.6764 50.4819 39.6764 49.733 39.3042 49.1253C38.932 48.5176 38.2443 48.1432 37.4999 48.1432H33.3333C32.7807 48.1432 32.2508 48.35 31.8601 48.7185C31.4693 49.0868 31.2499 49.5865 31.2499 50.1075ZM31.2499 57.9646C31.2499 58.4855 31.4693 58.9852 31.8601 59.3535C32.2508 59.722 32.7807 59.9289 33.3333 59.9289H37.4999C38.2443 59.9289 38.932 59.5544 39.3042 58.9467C39.6764 58.339 39.6764 57.5902 39.3042 56.9825C38.932 56.3747 38.2443 56.0003 37.4999 56.0003H33.3333C32.7807 56.0003 32.2508 56.2072 31.8601 56.5757C31.4693 56.944 31.2499 57.4436 31.2499 57.9646ZM31.2499 65.8217C31.2499 66.3427 31.4693 66.8423 31.8601 67.2107C32.2508 67.5792 32.7807 67.786 33.3333 67.786H37.4999C38.2443 67.786 38.932 67.4116 39.3042 66.8039C39.6764 66.1961 39.6764 65.4473 39.3042 64.8396C38.932 64.2319 38.2443 63.8574 37.4999 63.8574H33.3333C32.7807 63.8574 32.2508 64.0643 31.8601 64.4328C31.4693 64.8011 31.2499 65.3007 31.2499 65.8217Z" fill="#3ECAF2"/>
      </svg>
      <div class="text-box">
        <h3>30-Day Guarantee</h3>
        <p>Not satisfied with the product after 30 days? Get a full refund.</p>
      </div>
    </div>
    <div class="main-trust-seal-box">
      <svg width="100" height="101" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.66667" y="1.77409" width="96.6667" height="96.6667" rx="48.3333" stroke="#3ECAF2" stroke-width="3.33333"/>
        <path d="M57.4428 51.7213C57.9766 51.278 58.6715 51.0371 59.3765 51.0371C61.0283 51.0371 62.3778 52.3187 62.398 53.899H70.818C71.0176 53.708 71.1319 53.5986 71.3316 53.4076V32.9983C71.3316 30.4833 69.2467 28.4404 66.6784 28.4404H51.1286V42.9938C51.1286 43.7855 50.1861 44.2394 49.5215 43.7678L45.0212 40.5739C44.6648 40.321 44.1776 40.321 43.8211 40.5739L39.3206 43.7678C38.6561 44.2394 37.7135 43.7856 37.7135 42.9938V28.4404H22.1531C19.5849 28.4404 17.5002 30.4833 17.5002 32.9983V67.2352C17.5002 69.7405 19.5849 71.7738 22.1531 71.7738H66.6788C69.2471 71.7738 71.332 69.7405 71.332 67.2352V66.5704H62.3985C62.3785 68.1506 61.0289 69.4323 59.377 69.4323C58.6619 69.4323 57.9771 69.1914 57.4332 68.7481L49.5778 62.4464C48.8829 61.897 48.4903 61.0877 48.4903 60.23C48.4903 59.3724 48.8832 58.5727 49.5778 58.0137L57.4428 51.7213ZM56.9267 37.698C56.9267 36.9985 57.5066 36.4357 58.2208 36.4357H63.5234C64.2375 36.4357 64.8174 36.9985 64.8174 37.698V44.3713C64.8174 45.0708 64.2375 45.6336 63.5234 45.6336H58.2208C57.5066 45.6336 56.9267 45.0708 56.9267 44.3713V37.698ZM31.8618 59.661C31.8618 61.4939 30.4454 63.0685 28.6186 63.2841V65.7797H30.6126C30.8846 65.7797 31.1161 66.0015 31.1161 66.2614C31.1161 66.5313 30.8846 66.7432 30.6126 66.7432H25.6072C25.3353 66.7432 25.1037 66.5313 25.1037 66.2614C25.1037 66.0013 25.3353 65.7797 25.6072 65.7797H27.6114V63.2841C25.7784 63.0529 24.3583 61.4147 24.3583 59.5165V55.9608C24.3583 55.3345 24.882 54.8238 25.5267 54.8238H30.6932C31.3378 54.8238 31.8615 55.3345 31.8615 55.9608L31.8618 59.661Z" fill="#3ECAF2"/>
        <path d="M82.4996 50.7385V57.079C82.4996 61.2609 78.9544 64.6432 74.5937 64.6432H60.3828V66.5416C60.3828 67.3509 59.3856 67.8039 58.7311 67.2738L50.8652 60.9721C50.3819 60.5868 50.3819 59.8833 50.8652 59.4979L58.7311 53.1962C59.3857 52.6662 60.3828 53.1095 60.3828 53.9285V55.8268H70.8167C71.5318 55.8268 72.2365 55.7304 72.9016 55.557C74.3015 55.1907 74.7848 53.3793 73.6369 52.512C73.5563 52.4542 73.4756 52.4059 73.3851 52.3578V43.1748H74.5936C78.9643 43.1744 82.4995 46.5566 82.4995 50.739L82.4996 50.7385Z" fill="#3ECAF2"/>
      </svg>
      <div class="text-box">
        <h3>Easy Returns</h3>
        <p>Simple return policy for your peace of mind.</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Trust Seals",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Trust Seals"
    }
  ]
}
{% endschema %}
